*{
  font-family: Poppins;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* .header{
  display: flex;
  align-items: center;
  margin-left: 25px;

}*/
body{
  background: #282c34;
}
.main{
  color: rgb(38, 38, 39);
}
h2{
  font-weight: 500;
}
.Main{
  background-image: url('./Web.jpg');
  padding :25px;
  margin-top: 25px;
  border-radius: 15px;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.Left{
  margin-right: 255px;
  align-items: center;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 80px;
}
.Content-form{
  display: grid;
  align-items: center;
  justify-content: center;
}
.AddList-Input{
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #10996d;
  border-radius: 25px;
}
.efandray{
  color: #10996d;
  font-family: Maven Pro;
}
a{
  margin-right: 50px;
  text-decoration: navajowhite;
  text-transform: uppercase;
  color: #17ae7e;
}
h5{
  color: azure;
  font-family: Maven pro;
  font-weight: 500;
  letter-spacing: 1px;
}
.AddList-btn{
  padding: 7px;
  background: rgb(16, 153, 109);
  border-radius: 3px;
  color: azure;
  border-color: rgba(8, 120, 231, 0.103);
  font-family: Poppins;
  cursor: pointer;
  font-size: 18px;
  border-radius: 25px;

}
.ContentList{
  padding: 25px;
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
}
.list{
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  list-style-type: none;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 1px 1px 15px 1px ;
}
.contains{
  width: auto;
}

img{
  width: 150px;
  height: 150px;
}
.content{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 550px;
}
.header-content{
  margin-right: 15px;
  margin-bottom: auto;

}
.contains-item{
  margin-bottom: 55px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}
.container-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
label input{
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  column-count: 2;
}
span{
  margin-right: 25px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.NavBar{
  margin-bottom: 25px;
} 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
